body {
    font-family:verdana;
}

main, footer {
    position: relative;
    max-width: 900px;
    font-family: sans-serif;
    margin: 0 auto 0 auto;
    padding: 20px;
}

#captions_div {
    height:1em;
    font-size:1.5rem;
    font-family:arial;
    padding:1em;
    background-color:black;
    color:lightgray;
    /* width:calc(640px - 2em); */
    max-width: 640px;
}

#player_container {
    max-width: 640px;
    padding: 0; /* Remove padding to avoid extra space */
}

#player {
    width: 100%;
}


.hidden{
    /* display:none; */
    opacity:0.1;
}
